html {
  font-size: 12px;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  font-size: 1.3rem;
}
.body-slide {
  position: fixed;
  top: 0;
  bottom: 0;
}
.clear-fix {
  clear: both;
}
#Wrapper {
  width: 100%;
  margin-left: 0;
  overflow-x: hidden;
}
#Wrapper #Top {
  width: 100%;
  position: fixed;
  padding: 0;
  text-align: center;
  font-family: "Open Sans", SimHei, "Noto Sans", "Noto Sans CJK SC", "Microsoft Yahei", sans-serif;
  background: #FFF;
  color: #88909a;
  border-bottom: 1px solid #E3F2FD;
  height: 3em;
  line-height: 3em;
  z-index: 999;
}
#Wrapper #Top .top-list {
  float: left;
  margin-left: 1em;
}
#Wrapper #Top .top-github {
  float: right;
  margin-right: 1em;
}
#Wrapper #Top i {
  font-size: 1.5rem;
  line-height: 2.75em;
}
#Wrapper #Top a {
  color: #88909a;
  text-decoration: none;
}
#Wrapper #Content {
  margin-top: 3em;
  padding: 0 1em 0 1em;
}
#Wrapper .content-slide {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}
#Wrapper .content-slide .article:first-child {
  margin-top: 1.5em;
}
#SlideBar {
  position: fixed;
  width: 76%;
  bottom: 0;
  top: 0;
  right: 100%;
  overflow: hidden;
  color: #ebebeb;
  font-family: "Consolas", "Microsoft Yahei", sans-serif;
  background: #202020;
}
#SlideBar .author_info {
  margin-top: 1em;
  text-align: center;
}
#SlideBar .author_info img {
  width: 5em;
}
#SlideBar .author_info p {
  line-height: .5;
}
#SlideBar .menu_bar ul {
  font-size: 1.45rem;
  margin-top: 1.3em;
  padding: 0;
  margin-left: 1.5em;
  list-style: none;
}
#SlideBar .menu_bar ul li {
  margin-top: .7em;
}
#SlideBar .menu_bar ul li a {
  text-decoration: none;
  color: #999;
}
#SlideBar .menu_bar ul li i {
  margin-right: .8em;
}
#SlideBar .menu_bar ul li .csdn {
  background: url('/resources/image/csdn.png') no-repeat;
  -webkit-background-size: 1em;
  background-size: 1em;
}
#SlideBar .menu_bar ul li .zhihu {
  background: url('/resources/image/zhihu.png') no-repeat;
  -webkit-background-size: 1em;
  background-size: 1em;
}
#SlideBar .menu_bar ul li span {
  width: 1em;
  height: 1.2em;
  margin-right: .8em;
  display: inline-block;
  vertical-align: middle;
}
body {
  background: #F0E5F7!important;
}
#Content {
  padding: 0!important;
  margin-top: 3.5em!important;
}
.record-header {
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  background: #FFF;
  color: #535353;
  text-align: center;
  border-top: 1px solid #E7F3FD;
}
.record-header i {
  margin-right: 0.3em;
}
.record-header span {
  color: #F7443D;
}
.record-title {
  font-size: 1.2rem;
  width: 100%;
  background: #EFEEF3;
  color: #ACABB0;
  padding: 0.4em 0 0.4em 1em;
  border-bottom: 1px solid #E4E3E6;
}
.record-list {
  margin-top: 10px;
}
.record-list .clock img {
  height: 50px;
  margin-left: 70px;
}
.record-list .daily {
  position: relative;
  margin-top: 20px;
  display: none;
}
.record-list .daily .detail-time {
  width: 70px;
  font-size: 1.1rem;
  text-align: right;
  float: left;
}
.record-list .daily .detail-time span {
  padding-right: .2em;
}
.record-list .daily .detail-time span:first-child {
  padding-right: 0;
}
.record-list .daily .daily-record {
  width: calc(100% - 145px);
  float: right;
  font-size: 1rem;
  background: #FFF;
  padding: 10px 6px 10px 10px;
  position: relative;
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 15px;
  color: #555;
  line-height: 1.4;
}
.record-list .daily .daily-record p {
  margin: 5px 0 0 0;
}
.record-list .daily .daily-record p:first-child {
  margin: 0;
}
.record-list .daily .daily-record img {
  width: 90%;
}
.record-list .daily .daily-record:before {
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  content: "";
  border-width: 9px;
  border-right-color: #FFF;
  top: 10px;
  background: #F0E5F7;
  left: -18px;
}
.record-list .daily .icon {
  position: absolute;
  left: 83px;
  top: 6px;
  z-index: 100;
  width: 16px;
  border: 2px solid #7C7C7C;
  padding: 2px 1px;
  border-radius: 50%;
  background: #FFF;
}
.record-list .daily .icon i {
  color: #E2A41D;
  font-size: 14px;
  margin-left: 3px;
}
.record-list .daily .time-line {
  position: absolute;
  top: -23px;
  bottom: 0;
  background: #08987E;
  width: 2px;
  left: 93px;
}
