@media screen and (min-width: 935px) {
  body {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
    background: #FFF;
    font-style: normal!important;
  }
  .clear-fix {
    clear: both;
  }
  #fix-left {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 11%;
    background: #2B333D;
    text-align: center;
  }
  #fix-left .author_info {
    background: #24272D;
    margin-top: -10px;
    padding-top: 10px;
  }
  #fix-left .author_info img {
    display: block;
    margin: 10px auto;
    max-width: 76px;
    padding: 2px;
    border: none;
  }
  #fix-left .author_info p {
    text-align: center;
    color: white;
  }
  #fix-left .author_info .motto {
    text-align: left;
    font-size: 13px;
    padding: 0 20px 15px 15px;
    color: #777777;
  }
  #fix-left .menu_bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  #fix-left .menu_bar ul li {
    font-size: 18px;
    padding: 8px;
  }
  #fix-left .menu_bar ul a {
    text-decoration: none;
    color: #999999;
  }
  #fix-left .menu_bar ul a:link {
    text-decoration: none;
  }
  #fix-left .menu_bar ul .active {
    background: #2F889A;
    color: #FFFFFF;
  }
  .wrapper-header {
    position: fixed;
    left: 11%;
    top: 0;
    right: 0;
    padding: 8px;
    background: #FFFFFF;
    border-bottom: 2px solid #DDD;
    z-index: 1000;
    box-shadow: 2px 1px 5px #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
  }
  .wrapper-header .search {
    background: url('../image/search_background.png') no-repeat;
    width: 276px;
    height: 28px;
    background-size: 276px 28px;
    display: inline-block;
  }
  .wrapper-header .search .search_input {
    border: none;
    width: 222px;
    height: 26px;
    margin: 0px 0px 2px 30px;
    background-color: transparent;
    outline: none;
  }
}
.content {
  position: absolute;
  z-index: 100;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 11%;
}
.content .scroll-area {
  position: fixed;
  width: 22%;
  top: 45px;
  bottom: 0;
  border-right: 1px solid #EEEEEE;
}
.content .scroll-area .article-list {
  position: absolute;
  height: auto;
}
.content .scroll-area .article-list .article-item {
  padding: 16px 10px 10px 10px;
  border-bottom: 1px solid #EEEEEE;
}
.content .scroll-area .article-list .article-item .article-header {
  margin-bottom: 15px;
}
.content .scroll-area .article-list .article-item .article-header .article-category {
  color: #8e2013;
  text-decoration: none;
  margin-right: 2px;
}
.content .scroll-area .article-list .article-item .article-header .article-title {
  color: #551A8B;
  text-decoration: none;
}
.content .scroll-area .article-list .article-item .article-description {
  font-size: 12px;
  color: #777777;
  line-height: 1.7;
  margin-bottom: 15px;
}
.content .scroll-area .article-list .article-item .article-metadata {
  font-size: 13px;
  color: #BFBFBF;
}
.content .scroll-area .article-list .article-item .article-metadata .create-time {
  display: inline-block;
  text-align: left;
  float: left;
}
.content .scroll-area .article-list .article-item .article-metadata .create-time i {
  margin-right: 7px;
}
.content .scroll-area .article-list .article-item .article-metadata .meta-tags {
  float: right;
}
.content .scroll-area .article-list .article-item .article-metadata .meta-tags span {
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.content .scroll-area .scroll-vertical {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 4px;
  right: 0;
}
.content .scroll-area .scroll-vertical .scroll-bar {
  width: 3px;
  height: 257px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #000;
  background-clip: padding-box;
}
.content .article-content {
  left: 25%;
  position: absolute;
  width: 73%;
  height: 200px;
  background: blue;
}
