body {
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
pre {
  background: #F8F8F8;
  padding: 10px;
}
.clear-fix {
  clear: both;
}
#wrapper {
  padding-left: 13%;
  padding-top: 43px;
}
#wrapper .content {
  width: 84%;
  margin-right: 0;
  padding: 4px 0px 4px 25px;
  background: #FFFFFF;
  position: absolute;
}
#wrapper .content .content-second-nav {
  width: 99%;
  background: #F5F5F5;
}
#wrapper .content .content-second-nav ol {
  padding: 12px 0px 30px 8px;
  font-size: 15px;
}
#wrapper .content .content-second-nav ol li {
  float: left;
  list-style: none;
  color: #337AB7;
}
#wrapper .content .content-second-nav ol li a {
  text-decoration: none;
}
#wrapper .content .content-second-nav ol li i {
  margin-right: 3px;
  font-size: 14px;
  color: black;
}
#wrapper .content .content-second-nav ol .active {
  color: #9E7777;
}
#wrapper .content .content-second-nav ol .active:before {
  color: #ccc;
  padding: 0 7px;
  content: "/\00a0";
}
#wrapper .mask {
  display: none;
  position: fixed;
  background: #808080;
  top: 0;
  left: 0;
  z-index: 1002;
  opacity: 0.96;
  bottom: 0;
  right: 0;
}
#wrapper .mask .modal-dialog {
  font-size: 15px;
  width: 40%;
  margin-left: 35%;
  background: #FFF;
  margin-top: 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
#wrapper .mask .modal-dialog .modal-title {
  min-height: 15px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
#wrapper .mask .modal-dialog .modal-body {
  min-height: 15px;
  padding: 20px;
  position: relative;
}
#wrapper .mask .modal-dialog .modal-operate {
  min-height: 15px;
  padding: 10px 15px;
  border-top: 1px solid #e5e5e5;
}
#wrapper .mask .modal-dialog .modal-operate .close {
  padding: 5px 12px;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  float: right;
  margin-right: 15px;
}
#wrapper .mask .modal-dialog .modal-operate .sub,
#wrapper .mask .modal-dialog .modal-operate .confirm {
  background: #428BCA;
  color: #FFF;
  padding: 5px 12px;
  border-radius: 6px;
  float: right;
}
#wrapper .mask .modal-dialog .modal-operate .close:hover,
#wrapper .mask .modal-dialog .modal-operate .sub:hover,
#wrapper .mask .modal-dialog .modal-operate .confirm:hover {
  cursor: pointer;
}
#wrapper .click-btn {
  text-decoration: none;
  background: #00A8E6;
  color: #FFF;
  padding: 0 12px;
  font-size: 13px;
  line-height: 28px;
  min-height: 30px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  display: inline-block;
}
#wrapper .click-btn:hover {
  cursor: pointer;
}
