header {
  top: 0;
  left: 0;
  background: #222222;
  position: fixed;
  z-index: 1000;
}
header .navbar-header {
  height: auto;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: #222222;
  color: #9D9D9D;
  font-size: 18px;
  padding: 15px 0px 15px 20px;
}
header .navbar-right {
  position: fixed;
  right: 10px;
  color: #999999;
  top: 15px;
  font-size: 14px;
}
header .navbar-left {
  bottom: 0;
  position: fixed;
  top: 50px;
  background: #222222;
  width: 13%;
}
header .navbar-left ul {
  color: #9D9D9D;
  list-style: none;
  margin-top: 0;
  border: 0;
}
header .navbar-left ul li {
  line-height: 1.42857143;
  margin-left: -40px;
  padding: 15px 0px 15px 20px;
  font-size: 14px;
}
header .navbar-left ul li i {
  margin-right: 9px;
}
header .navbar-left ul li:hover {
  background: #000000;
  cursor: pointer;
  color: #ffffff;
}
header .navbar-left ul .active {
  line-height: 1.42857143;
  font-size: 14px;
  margin-left: -40px;
  padding: 15px 0px 15px 20px;
  background: #080808;
  color: #FFFFFF;
}
