#article .article-content {
  font-size: 1.5rem;
  width: 100% - 1px;
  line-height: 1.85em;
  color: #424242;
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #EEEEEE;
  letter-spacing: 1px;
}
#article .article-content .content-head {
  border-bottom: 1px solid #EDEDED;
}
#article .article-content .content-head h1 {
  font-weight: normal;
  font-size: 2.6rem;
  margin-left: 2%;
  text-shadow: 1px 1px #CCC;
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
  color: #424242;
}
#article .article-content .content-head .content-head-detail {
  margin-bottom: 0.6em;
  margin-left: 2%;
}
#article .article-content .content-head .content-head-detail span {
  font-size: 1rem;
  color: #BDBDBD;
  margin-left: 1.35rem;
}
#article .article-content .content-head .content-head-detail span i {
  margin-right: 0.15rem;
}
#article .article-content .content-head .content-head-detail .c_time {
  margin: 0;
}
#article .article-content .content-head .content-head-detail .c_name a {
  color: #8E9600;
  text-decoration: none;
}
#article .article-content .content-head .content-head-detail .c_like a {
  color: #8E9600;
  text-decoration: none;
}
#article .article-content .content-head .content-head-detail a:hover {
  text-decoration: underline;
}
#article .article-content .content-body {
  width: 73%;
  margin-left: 2%;
  float: left;
  color: #424242;
  font-family: "Open Sans", "Noto Sans", "Noto Sans CJK SC", "Microsoft Yahei", sans-serif;
}
#article .article-content .content-nav {
  width: 240px;
  float: right;
  margin-top: 1em;
  margin-right: 25px;
}
#article .article-content .content-nav .nav-heading {
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 10px 20px;
}
#article .article-content .fixed {
  position: fixed;
  right: 0;
  top: 50px;
}
#article .article-content .nav-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#article .article-content .nav-list ul li {
  padding-left: 20px;
  font-size: 15px;
  border-left: 3px solid #F3F3F3;
}
#article .article-content .nav-list ul li:hover {
  cursor: pointer;
  color: #C1272D;
  border-color: #F3F3F3;
  background: #F1F1F1;
}
#article .article-content .nav-list ul .active {
  color: #C1272D;
  background: #F1F1F1;
  border-color: #c1272d;
}
#article .article-content em {
  font-size: 1.4rem;
  font-style: normal!important;
  padding: 0.2em 0.5em;
  color: #C7254E;
  font-family: Consolas, sans-serif !important;
}
#article .article-content code {
  background: #F0F0F0;
  color: #444;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#article .article-content h1 {
  color: #D2D8BA;
  font-weight: normal;
  font-size: 2.6rem;
  text-shadow: 1px 1px #CCC;
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
}
#article .article-content h2 {
  text-shadow: 1px 1px #CCC;
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
}
#article .article-content h3 {
  text-shadow: 1px 1px #CCC;
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
}
#article .article-content a {
  color: #42A5F5;
  text-decoration: none;
}
#article .article-content a:hover {
  text-decoration: underline;
}
