html {
  font-size: 65%;
}
body {
  font-family: "Open Sans", "Noto Sans", "Noto Sans CJK SC", "Microsoft Yahei", sans-serif;
  background: #FFF;
}
.clear-fix {
  clear: both;
}
/** 进度条样式 **/
#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #2c3e50;
  border-left-color: #2c3e50;
}
#loading-bar .peg {
  -moz-box-shadow: #2c3e50 1px 0 6px 1px;
  -ms-box-shadow: #2c3e50 1px 0 6px 1px;
  -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
  box-shadow: #2c3e50 1px 0 6px 1px;
}
/** 进度条样式结束 **/
#fix-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 11%;
  background: #2B333D;
  text-align: center;
}
#fix-left .author_info {
  background: #24272D;
  margin-top: -10px;
  padding-top: 10px;
}
#fix-left .author_info img {
  display: block;
  margin: 10px auto;
  max-width: 76px;
  padding: 2px;
  border: none;
}
#fix-left .author_info p {
  text-align: center;
  color: white;
}
#fix-left .author_info .motto {
  text-align: left;
  font-size: 13px;
  padding: 0 20px 15px 15px;
  color: #777777;
}
#fix-left .menu_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#fix-left .menu_bar ul li {
  font-size: 18px;
  padding: 8px;
}
#fix-left .menu_bar ul li i {
  margin-right: 0.7em;
}
#fix-left .menu_bar ul li:hover {
  background: #2F889A;
  color: #FFFFFF;
}
#fix-left .menu_bar ul a {
  text-decoration: none;
  color: #999999;
}
#fix-left .menu_bar ul a:link {
  text-decoration: none;
}
#fix-left .menu_bar ul .active {
  background: #2F889A;
  color: #FFFFFF;
}
.wrapper-header {
  position: fixed;
  left: 11%;
  top: 0;
  right: 0;
  padding: 8px;
  background: #FFFFFF;
  border-bottom: 2px solid #DDD;
  z-index: 999;
  box-shadow: 2px 1px 5px #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}
.wrapper-header .search {
  background: url('/resources/image/search_background.png') no-repeat;
  width: 276px;
  height: 28px;
  background-size: 276px 28px;
  display: inline-block;
}
.wrapper-header .search .search_input {
  border: none;
  width: 222px;
  height: 26px;
  margin: 0px 0px 2px 30px;
  background-color: transparent;
  outline: none;
}
.content {
  position: absolute;
  z-index: 100;
  top: 4rem;
  right: 0;
  bottom: 0;
  left: 11%;
}
body {
  background: #E2E2E2!important;
}
.content {
  position: absolute;
  z-index: 100;
  top: 55px;
  right: 0;
  bottom: 0;
  left: 11%;
}
.content .archive-panel {
  position: fixed;
  width: 17%;
  top: 55px;
  bottom: 0;
  background: #FFFFFF;
  border-right: 2px solid #DADADA;
  margin-left: 10px;
}
.content .archive-panel .archive-head {
  background: #F5F5F5;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
.content .archive-panel .archive-list ul {
  padding: 0;
  list-style: none;
}
.content .archive-panel .archive-list ul li {
  padding-left: 15px;
  margin-top: 8px;
}
.content .archive-panel .archive-list ul li:before {
  font-family: FontAwesome;
  content: '\f0da';
  font-size: 1em;
  color: #000;
  margin-right: 0.5em;
}
.content .archive-panel .archive-list ul li a {
  color: red;
  font-size: 15px;
  text-decoration: none;
}
.content .archive-panel .archive-list ul li a:hover {
  text-decoration: underline;
}
.content .archive-panel .archive-list ul li .active {
  color: blue;
}
.content .archive-panel .archive-list ul li span {
  margin-left: 10px;
  font-size: 13px;
}
.content .article-list {
  position: absolute;
  left: 21%;
  right: 0;
  background: #FFFFFF;
  border-left: 2px solid #DADADA;
  padding: 0 3% 80px 3%;
}
.content .article-list .article-item {
  border-bottom: 1px dashed #ddd;
  padding: 25px 0;
}
.content .article-list .article-item .article-head {
  margin-bottom: 10px;
}
.content .article-list .article-item .article-head .article-title a {
  color: inherit!important;
  text-decoration: none;
  font-size: 22px;
}
.content .article-list .article-item .article-metadata {
  color: #AAAAAA;
  font-size: 14px;
  margin-bottom: 10px;
}
.content .article-list .article-item .article-metadata .article-time:after {
  content: '   •   ';
  font-size: 17px;
  margin: 0 0.2em;
}
.content .article-list .article-item .article-metadata .article-category a {
  text-decoration: none;
}
.content .article-list .article-item .article-metadata .article-category a:hover {
  text-decoration: underline;
}
.content .article-list .article-item .article-metadata .article-category:after {
  content: '   •   ';
  font-size: 17px;
  margin: 0 0.2em;
}
.content .article-list .article-item .article-metadata .article-view i {
  margin-right: 3px;
}
.content .article-list .article-item .article-description {
  font-size: 15px;
  text-indent: 2em;
  line-height: 1.6;
  margin-bottom: 20px;
}
.content .article-list .article-item .article-description p {
  text-indent: 2em;
}
.content .article-list .article-item .article-footer {
  font-size: 14px;
}
.content .article-list .article-item .article-footer .article-tags {
  width: 75%;
  float: left;
  text-align: left;
}
.content .article-list .article-item .article-footer .article-tags .tag {
  background: #CCCCCC;
  color: #FFF;
  padding: 2px 9px;
  margin-left: 5px;
}
.content .article-list .article-item .article-footer .article-tags .tag:first-child {
  margin: 0;
}
.content .article-list .article-item .article-footer .read-more {
  width: 25%;
  float: left;
  text-align: right;
}
.content .article-list .article-item .article-footer .read-more a {
  color: red;
  text-decoration: none;
}
.content .article-list .article-item .article-footer .read-more a i {
  margin-left: 7px;
}
