html {
  font-size: 65%;
}
body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  background: #2F2D2D;
}
.clear-fix {
  clear: both;
}
/** 进度条样式 **/
/*#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #2c3e50;
  border-left-color: #2c3e50;
}
#loading-bar .peg {
  -moz-box-shadow: #2c3e50 1px 0 6px 1px;
  -ms-box-shadow: #2c3e50 1px 0 6px 1px;
  -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
  box-shadow: #2c3e50 1px 0 6px 1px;
}*/
#loading-bar .bar {
  background: #54C440;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #54C440;
  border-left-color: #54C440;
}
#loading-bar .peg {
  -moz-box-shadow: #54C440 2px 0 6px 1px;
  -ms-box-shadow: #54C440 2px 0 6px 1px;
  -webkit-box-shadow: #54C440 2px 0 6px 1px;
  box-shadow: #54C440 2px 0 6px 1px;
}
/** 进度条样式结束 **/
#fix-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #3C3F41;
  border-right: 1px solid #000;
  width: calc(5% - 1px);
}
#fix-left .author_info {
  background: #313335;
  padding: 20px 0 30px 0;
  color: #FFF;
}
#fix-left .author_info img {
  display: block;
  margin: 10px auto;
  max-width: 76px;
  padding: 2px;
  border: none;
  width: 80%;
}
#fix-left .author_info p {
  margin: 0;
}
#fix-left .menu_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#fix-left .menu_bar ul li {
  font-size: 18px;
  padding: 8px;
}
#fix-left .menu_bar ul li:hover {
  background: #2D2F30;
  color: #BA8947;
}
#fix-left .menu_bar ul a {
  text-decoration: none;
  color: #999999;
}
#fix-left .menu_bar ul a:link {
  text-decoration: none;
}
#fix-left .menu_bar ul .active {
  background: #2D2F30;
  color: #BA8947;
}
.wrapper-header {
  position: fixed;
  left: 5%;
  top: 0;
  right: 0;
  z-index: 999;
  background: #3C3F41;
  height: 45px;
  border-left: 1px solid #555555;
  border-bottom: 1px solid #555555;
}
.wrapper-header .search {
  display: inline-block;
  background: #2B2B2B;
  color: #ADADAD;
  width: 300px;
  height: 30px;
  border-radius: 13px;
  margin: 7px 0 0 10px;
}
.wrapper-header .search i {
  font-size: 16px;
  position: absolute;
  line-height: 30px;
  left: 15px;
}
.wrapper-header .search .search_input {
  border: none;
  width: 222px;
  background: #2B2B2B;
  color: #A8B6AC;
  position: absolute;
  left: 35px;
  height: 28px;
  line-height: 28px;
  outline: none;
}
.content {
  position: absolute;
  z-index: 100;
  top: 46px;
  right: 0;
  bottom: 0;
  left: 5%;
  background: #2F2D2D;
}
.archive-panel {
  position: fixed;
  width: 218px;
  top: 46px;
  bottom: 0;
  background: #3C3F41;
  border-right: 1px solid #525252;
  border-top: 1px solid #000;
  border-left: 1px solid #555555;
}
.archive-panel .archive-head {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background: #393C3E;
  border-bottom: 1px solid #242627;
  color: #7A987B;
}
.archive-panel .archive-list ul {
  padding: 0;
  list-style: none;
}
.archive-panel .archive-list ul li {
  padding-left: 15px;
  margin-top: 8px;
  color: #ADADAD;
}
.archive-panel .archive-list ul li:before {
  font-family: FontAwesome;
  content: '\f0da';
  font-size: 1em;
  color: #ADADAD;
  margin-right: 0.5em;
}
.archive-panel .archive-list ul li a {
  color: #BD9662;
  font-size: 15px;
  text-decoration: none;
}
.archive-panel .archive-list ul li a:hover {
  text-decoration: underline;
}
.archive-panel .archive-list ul li .active {
  color: blue;
}
.archive-panel .archive-list ul li span {
  margin-left: 10px;
  font-size: 13px;
}
.article-list {
  position: absolute;
  left: 220px;
  right: 0;
  background: #323232;
  border-left: 1px solid #000;
  padding: 0 3% 80px 3%;
}
.article-list .article-item {
  border-bottom: 1px dashed #515658;
  padding: 25px 0;
}
.article-list .article-item .article-head {
  margin-bottom: 10px;
}
.article-list .article-item .article-head .article-title a {
  color: #95949A;
  text-decoration: none;
  font-size: 22px;
}
.article-list .article-item .article-metadata {
  color: #999;
  font-size: 13px;
  margin-bottom: 10px;
}
.article-list .article-item .article-metadata .article-time:after {
  content: '   •   ';
  font-size: 17px;
  margin: 0 0.2em;
}
.article-list .article-item .article-metadata .article-category a {
  text-decoration: none;
  color: #71A7C7;
}
.article-list .article-item .article-metadata .article-category a:hover {
  text-decoration: underline;
}
.article-list .article-item .article-metadata .article-category:after {
  content: '   •   ';
  font-size: 17px;
  margin: 0 0.2em;
}
.article-list .article-item .article-metadata .article-view i {
  margin-right: 3px;
}
.article-list .article-item .article-description {
  font-size: 15px;
  text-indent: 2em;
  line-height: 1.6;
  margin-bottom: 20px;
}
.article-list .article-item .article-description p {
  text-indent: 2em;
}
.article-list .article-item .article-footer {
  font-size: 14px;
}
.article-list .article-item .article-footer .article-tags {
  width: 75%;
  float: left;
  text-align: left;
}
.article-list .article-item .article-footer .article-tags .tag {
  background: #CCCCCC;
  color: #FFF;
  padding: 2px 9px;
  margin-left: 5px;
}
.article-list .article-item .article-footer .article-tags .tag:first-child {
  margin: 0;
}
.article-list .article-item .article-footer .read-more {
  width: 25%;
  float: left;
  text-align: right;
}
.article-list .article-item .article-footer .read-more a {
  color: #CC7832;
  text-decoration: none;
}
.article-list .article-item .article-footer .read-more a i {
  margin-left: 7px;
}
