@media screen and (min-width: 935px){
  body{
    font-family: "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
    background: #EEEEEE;
    font-style: normal!important;
  }
  #fix-left{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 160px;
    background: #2B333D;
    text-align: center;

    .author_info{
      background: #24272D;
      margin-top: -10px;
      padding-top: 10px;

      img{
        display: block;
        margin: 10px auto;
        max-width: 76px;
        padding: 2px;
        border: none;
      }
      p{
        text-align: center;
        color: white;
      }

      .motto{
        text-align: left;
        font-size: 13px;
        padding: 0 20px 15px 15px;
        color: #777777;
      }
    }

    .menu_bar{

      ul{
        list-style: none;
        margin:0;
        padding:0;

        li{
          font-size: 18px;
          padding: 8px;
        }

        a{
          text-decoration: none;
          color: #999999;

          &:link{
            text-decoration: none;
          }
        }

        .active{
          background: #2F889A;
          color: #FFFFFF;
        }
      }
    }
  }

  .wrapper-header{
    position: fixed;
    left: 312px;
    top: 0;
    right: 0;
    background: #FFFFFF;
    border-bottom: 2px solid #DDD;
    z-index: 1000;
    box-shadow: 2px 1px 5px #DBDBDB;
    border-bottom: 1px solid #DBDBDB;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      a{
        display: block;
        color: #666666;
        text-decoration: none;
        letter-spacing: 1px;
        &:link{
          text-decoration: none;
        }
      }

      li {
        float: left;
        font: 16px/1.5 "Microsoft Yahei", "Hiragino Sans GB", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
        display: list-item;
        min-width: 60px;
        text-align: center;
        padding: 12px 10px;
        cursor: pointer;
        margin-left: 25px;

        &:hover{
          border-bottom: 4px solid #2ECC71;
        }
      }
      .active{
        border-bottom: 4px solid #2ECC71;
        font-weight: 100;
        color: #021;
      }
    }
  }
}

