@import "../include/index_global";

.content{
  background: #EEEEEE;
  position: absolute;
  z-index: 100;
  top: 57px;
  right: 0px;
  bottom: 0px;
  left: 312px;

  .archive-list{
    width: 100%;
    height: 1000px;
    background: #EEE;

    .archive-title{
      font-size: 20px;
      margin-left: 5%;
      i{
        font-size: 40px;
        margin-right: 20px;
      }
    }

    .archive-item{
      width: 50%;
      margin-left: 5%;
      margin-top: 30px;

      .year{
        &:after{
          content: '年';
        }
      }
      .month{
        
        &:after{
          content: '月';
        }
      }
    }

    ul{
      margin-left: 10%;

      li{
        margin-top: 10px;
        .day:after{
          content: '日';
        }
      }
    }
  }

}

