<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pblog.dao.ArticleReadLogMapper" >

  <select id="queryForClickNumByArticle" resultType="java.lang.Long" parameterType="java.lang.Integer">
    select count(*) from article_read_log where articleId = #{articleId, jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.pblog.domain.ArticleReadLog">
    insert into article_read_log(articleId, ipAddress, createTime, type)
    values (#{articleId}, #{ipAddress}, #{createTime}, #{type})
  </insert>

</mapper>