<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pblog.dao.ArticleInfoMapper" >

    <insert id="insert" parameterType="ArticleInfo">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into article_info (title, content, createTime, lastModifyTime, categorySlug, tag, thumb,
        enabled, description)
        values (#{title}, #{content}, #{createTime}, #{lastModifyTime}, #{categorySlug}, #{tag},
                #{thumb}, #{enabled}, #{description})
    </insert>

    <select id="findList" resultType="ArticleInfo">
        select * from article_info
    </select>

    <select id="findListByCategoryId" resultType="ArticleInfo" parameterType="java.lang.Long">
        select * from article_info where categorySlug = #{category, jdbcType = BIGINT}
    </select>

    <update id="updateArticleEnabled" parameterType="java.lang.Boolean">
        update article_info
        <set>
            <if test="enabled != null">
                enabled = #{enabled, jdbcType = TINYINT}
            </if>
        </set>
        where id = #{articleId}
    </update>
    <!-- 最新十篇文章 -->
    <select id="findTopTenByCreateTimeDesc" resultType="ArticleInfo">
        select * from article_info where enabled = true order by createTime desc;
    </select>

    <select id="findBySlug" resultType="ArticleInfo" parameterType="java.lang.Long">
        select * from article_info where slug = #{slug, jdbcType=BIGINT}
    </select>

    <select id="findById" resultType="ArticleInfo" parameterType="java.lang.Integer">
        select * from article_info where id = #{id, jdbcType=INTEGER}
    </select>

    <select id="page" parameterType="com.pblog.core.orm.PageRequest" resultType="ArticleInfo">
        select * from article_info
    </select>

    <select id="findByCreateTimeDesc" resultType="ArticleInfo">
        select * from article_info
        order by createTime desc
    </select>
    
    <update id="update" parameterType="ArticleInfo">
        UPDATE article_info
        <set>
            <if test="title != null">
                title = #{title, jdbcType = VARCHAR},
            </if>
            <if test="content != null">
                content = #{content, jdbcType = LONGVARCHAR},
            </if>
            <if test="slug != null">
                slug = #{slug, jdbcType = BIGINT},
            </if>
            <if test="createTime != null">
                createTime = #{createTime, jdbcType = TIMESTAMP},
            </if>
            <if test="lastModifyTime != null">
                lastModifyTime = #{lastModifyTime, jdbcType = TIMESTAMP},
            </if>
            <if test="categorySlug != null">
                categorySlug = #{categorySlug, jdbcType = BIGINT},
            </if>
            <if test="tag != null">
                tag = #{tag, jdbcType = VARCHAR},
            </if>
            <if test="thumb != null">
                thumb = #{thumb, jdbcType = INTEGER},
            </if>
            <if test="enabled != null">
                enabled = #{enabled, jdbcType = TINYINT},
            </if>
            <if test="description != null">
                description = #{description, jdbcType = LONGVARCHAR},
            </if>
        </set>
        where id = #{id, jdbcType = INTEGER}
    </update>
    
    <select id="findListByCategorySlug" resultType="ArticleInfo">
        select * from article_info
        WHERE categorySlug = #{categorySlug, jdbcType = BIGINT}
    </select>

    <select id="findArticleListByMonth" parameterType="map" resultType="ArticleInfo">
        select * from article_info
        <where>
            <if test="startTime != null">
              createTime &gt;= #{startTime}
            </if>
            <if test="endTime != null">
              and createTime &lt; #{endTime}
            </if>
        </where>
    </select>
</mapper>