<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pblog.dao.ArticleReadLogMapper" >
  <resultMap id="BaseResultMap" type="com.pblog.domain.ArticleReadLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="articleId" property="articleId" jdbcType="INTEGER" />
    <result column="ipAddress" property="ipAddress" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, articleId, ipAddress, createTime, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from article_read_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from article_read_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pblog.domain.ArticleReadLog" >
    insert into article_read_log (id, articleId, ipAddress, 
      createTime, type)
    values (#{id,jdbcType=BIGINT}, #{articleId,jdbcType=INTEGER}, #{ipAddress,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.pblog.domain.ArticleReadLog" >
    insert into article_read_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="articleId != null" >
        articleId,
      </if>
      <if test="ipAddress != null" >
        ipAddress,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pblog.domain.ArticleReadLog" >
    update article_read_log
    <set >
      <if test="articleId != null" >
        articleId = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="ipAddress != null" >
        ipAddress = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pblog.domain.ArticleReadLog" >
    update article_read_log
    set articleId = #{articleId,jdbcType=INTEGER},
      ipAddress = #{ipAddress,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>