<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pblog.dao.ArticleInfoMapper" >

    <insert id="insert" parameterType="ArticleInfo">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into article_info (title, content, createTime, lastModifyTime, categorySlug, tag, thumb,
        enabled, markdown, description)
        values (#{title}, #{content}, #{createTime}, #{lastModifyTime}, #{categorySlug}, #{tag},
                #{thumb}, #{enabled}, #{markdown}, #{description})
    </insert>

    <select id="findList" parameterType="com.pblog.core.orm.PageRequest" resultType="ArticleInfo">
        select * from article_info
    </select>

    <select id="findListByCategoryId" resultType="ArticleInfo" parameterType="java.lang.Long">
        select * from article_info where categorySlug = #{category, jdbcType = BIGINT}
    </select>

    <update id="updateArticleEnabled" parameterType="java.lang.Boolean">
        update article_info
        <set>
            <if test="enabled != null">
                enabled = #{enabled, jdbcType = TINYINT}
            </if>
        </set>
        where id = #{articleId}
    </update>
    <!-- 最新十篇文章 -->
    <select id="findTopTenByCreateTimeDesc" resultType="ArticleInfo">
        select * from article_info where enabled = true order by createTime desc;
    </select>

    <select id="findBySlug" resultType="ArticleInfo" parameterType="java.lang.Long">
        select * from article_info where slug = #{slug, jdbcType=BIGINT}
    </select>

    <select id="pageByPageRequest" resultType="ArticleInfo">
        select * from article_info
        order by ${orderBy} ${orderDir} limit ${pageNo} * ${pageSize}, ${pageSize}
    </select>
</mapper>