<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pblog.dao.ArticleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pblog.domain.ArticleInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="LONGTEXT" />
    <result column="slug" property="slug" jdbcType="BIGINT" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="lastModifyTime" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="categorySlug" property="categorySlug" jdbcType="BIGINT" />
    <result column="tagId" property="tagId" jdbcType="VARCHAR" />
    <result column="thumb" property="thumb" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="TINYINT" />
    <result column="markdown" property="markdown" jdbcType="LONGTEXT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, slug, createTime, lastModifyTime, categorySlug, tagId, thumb, 
    enabled, markdown
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pblog.domain.ArticleInfo" >
    insert into article_info (id, title, content, 
      slug, createTime, lastModifyTime, 
      categorySlug, tagId, thumb, 
      enabled, markdown)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=LONGTEXT}, 
      #{slug,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}, 
      #{categorySlug,jdbcType=BIGINT}, #{tagId,jdbcType=VARCHAR}, #{thumb,jdbcType=INTEGER}, 
      #{enabled,jdbcType=TINYINT}, #{markdown,jdbcType=LONGTEXT})
  </insert>
  <insert id="insertSelective" parameterType="com.pblog.domain.ArticleInfo" >
    insert into article_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="slug != null" >
        slug,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="lastModifyTime != null" >
        lastModifyTime,
      </if>
      <if test="categorySlug != null" >
        categorySlug,
      </if>
      <if test="tagId != null" >
        tagId,
      </if>
      <if test="thumb != null" >
        thumb,
      </if>
      <if test="enabled != null" >
        enabled,
      </if>
      <if test="markdown != null" >
        markdown,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGTEXT},
      </if>
      <if test="slug != null" >
        #{slug,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="categorySlug != null" >
        #{categorySlug,jdbcType=BIGINT},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="thumb != null" >
        #{thumb,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        #{enabled,jdbcType=TINYINT},
      </if>
      <if test="markdown != null" >
        #{markdown,jdbcType=LONGTEXT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pblog.domain.ArticleInfo" >
    update article_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGTEXT},
      </if>
      <if test="slug != null" >
        slug = #{slug,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        lastModifyTime = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="categorySlug != null" >
        categorySlug = #{categorySlug,jdbcType=BIGINT},
      </if>
      <if test="tagId != null" >
        tagId = #{tagId,jdbcType=VARCHAR},
      </if>
      <if test="thumb != null" >
        thumb = #{thumb,jdbcType=INTEGER},
      </if>
      <if test="enabled != null" >
        enabled = #{enabled,jdbcType=TINYINT},
      </if>
      <if test="markdown != null" >
        markdown = #{markdown,jdbcType=LONGTEXT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pblog.domain.ArticleInfo" >
    update article_info
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGTEXT},
      slug = #{slug,jdbcType=BIGINT},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      lastModifyTime = #{lastModifyTime,jdbcType=TIMESTAMP},
      categorySlug = #{categorySlug,jdbcType=BIGINT},
      tagId = #{tagId,jdbcType=VARCHAR},
      thumb = #{thumb,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=TINYINT},
      markdown = #{markdown,jdbcType=LONGTEXT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>