<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pblog.dao.AuthorInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pblog.domain.AuthorInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="motto" property="motto" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="github" property="github" jdbcType="VARCHAR" />
    <result column="zhihu" property="zhihu" jdbcType="VARCHAR" />
    <result column="csdn" property="csdn" jdbcType="VARCHAR" />
    <result column="headImage" property="headImage" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, motto, email, address, github, zhihu, csdn, headImage
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from author_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from author_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pblog.domain.AuthorInfo" >
    insert into author_info (id, name, motto, 
      email, address, github, 
      zhihu, csdn, headImage
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{motto,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{github,jdbcType=VARCHAR}, 
      #{zhihu,jdbcType=VARCHAR}, #{csdn,jdbcType=VARCHAR}, #{headImage,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pblog.domain.AuthorInfo" >
    insert into author_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="motto != null" >
        motto,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="github != null" >
        github,
      </if>
      <if test="zhihu != null" >
        zhihu,
      </if>
      <if test="csdn != null" >
        csdn,
      </if>
      <if test="headImage != null" >
        headImage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="motto != null" >
        #{motto,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="github != null" >
        #{github,jdbcType=VARCHAR},
      </if>
      <if test="zhihu != null" >
        #{zhihu,jdbcType=VARCHAR},
      </if>
      <if test="csdn != null" >
        #{csdn,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null" >
        #{headImage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pblog.domain.AuthorInfo" >
    update author_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="motto != null" >
        motto = #{motto,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="github != null" >
        github = #{github,jdbcType=VARCHAR},
      </if>
      <if test="zhihu != null" >
        zhihu = #{zhihu,jdbcType=VARCHAR},
      </if>
      <if test="csdn != null" >
        csdn = #{csdn,jdbcType=VARCHAR},
      </if>
      <if test="headImage != null" >
        headImage = #{headImage,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pblog.domain.AuthorInfo" >
    update author_info
    set name = #{name,jdbcType=VARCHAR},
      motto = #{motto,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      github = #{github,jdbcType=VARCHAR},
      zhihu = #{zhihu,jdbcType=VARCHAR},
      csdn = #{csdn,jdbcType=VARCHAR},
      headImage = #{headImage,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>