<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pblog.dao.PicInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pblog.domain.PicInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="picName" property="picName" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, picName, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pic_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pic_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pblog.domain.PicInfo" >
    insert into pic_info (id, picName, createTime
      )
    values (#{id,jdbcType=INTEGER}, #{picName,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pblog.domain.PicInfo" >
    insert into pic_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="picName != null" >
        picName,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="picName != null" >
        #{picName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pblog.domain.PicInfo" >
    update pic_info
    <set >
      <if test="picName != null" >
        picName = #{picName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pblog.domain.PicInfo" >
    update pic_info
    set picName = #{picName,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>