<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pblog.dao.RecordReadLogMapper" >
  <resultMap id="BaseResultMap" type="com.pblog.domain.RecordReadLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="recordId" property="recordId" jdbcType="INTEGER" />
    <result column="ipAddress" property="ipAddress" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, recordId, ipAddress, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from record_read_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from record_read_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pblog.domain.RecordReadLog" >
    insert into record_read_log (id, recordId, ipAddress, 
      createTime)
    values (#{id,jdbcType=BIGINT}, #{recordId,jdbcType=INTEGER}, #{ipAddress,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pblog.domain.RecordReadLog" >
    insert into record_read_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recordId != null" >
        recordId,
      </if>
      <if test="ipAddress != null" >
        ipAddress,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recordId != null" >
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pblog.domain.RecordReadLog" >
    update record_read_log
    <set >
      <if test="recordId != null" >
        recordId = #{recordId,jdbcType=INTEGER},
      </if>
      <if test="ipAddress != null" >
        ipAddress = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pblog.domain.RecordReadLog" >
    update record_read_log
    set recordId = #{recordId,jdbcType=INTEGER},
      ipAddress = #{ipAddress,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>