@import "../include/index_global";


.book-wrapper {
  width: 60%;
  margin-left: 35px;
  margin-top: 10px;

  .book {
    border-top: 1px dashed #515658;
    padding-top: 22px;
    padding-bottom: 15px;

    .book-banner {
      float: left;

      img {
        width: 90px;
        border: 5px solid #FFF;
      }

      img:hover {
        border: 5px solid #333333;
      }
    }

    .book-detail {
      float: left;
      width: e("calc(100% - 120px)");
      margin-top: 2px;
      margin-left: 20px;

      .book-title {
        font-size: 15px;
        font-weight: 600;

        a {
          font-size: 16px;
          text-decoration: none;
          color: #95949A;
        }
        
        a:hover {
          color: #76A3A3;
        }
      }

      .book-operate {
        margin-top: 7px;
        color: #676767;

        a {
          color: #71A7C7;
          text-decoration: none;
        }
      }

      .book-intro {
        font-size: 14px;
        margin-top: 12px;
        line-height: 1.4;
        color: #A8B6AD;
      }
    }

    .book-read {
      margin-left: 120px;

      a {
        color: #9C9C9C;
        text-decoration: none;
        background: #49473F;
        padding: 0 12px;
        font-size: 13px;
        line-height: 28px;
        min-height: 30px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        display: inline-block;
      }
      
      a:hover {
        background: #0099cc;
      }
    }

  }




}

.reading-book {
  position: fixed;
  height: 100px;
  width: 270px;
  right: 25px;
  top: 55px;

  .book-list {
    margin-top: 20px;

    img {
      float: left;
      display: inline-block;
      width: 70px;
      height: 100px;
      margin: 0 18px 25px 0;
    }

    img:hover {
      -webkit-transform: scale(1.4);
      -moz-transform: scale(1.4);
      -ms-transform: scale(1.4);
      -o-transform: scale(1.4);
      transform: scale(1.4);
    }
  }
}

.cate-name {
  font-size: 18px;
  height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  color: #BD9662;
}