header {
  top: 0;
  left: 0;
  background: #222222;
  position: fixed;
  z-index: 1000;
}
header .navbar-header {
  height: auto;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: #222222;
  color: #9D9D9D;
  font-size: 18px;
  padding: 15px 0px 15px 20px;
}
header .navbar-right {
  position: fixed;
  right: 10px;
  color: #999999;
  top: 15px;
  font-size: 14px;
}
header .navbar-left {
  bottom: 0;
  position: fixed;
  top: 50px;
  background: #222222;
  width: 13%;
}
header .navbar-left ul {
  color: #9D9D9D;
  list-style: none;
  margin-top: 0;
  border: 0;
}
header .navbar-left ul li {
  line-height: 1.42857143;
  margin-left: -40px;
  padding: 15px 0px 15px 20px;
  font-size: 14px;
}
header .navbar-left ul li i {
  margin-right: 9px;
}
header .navbar-left ul li:hover {
  background: #000000;
  cursor: pointer;
  color: #ffffff;
}
header .navbar-left ul .active {
  line-height: 1.42857143;
  font-size: 14px;
  margin-left: -40px;
  padding: 15px 0px 15px 20px;
  background: #080808;
  color: #FFFFFF;
}
body {
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
pre {
  background: #F8F8F8;
  padding: 10px;
}
#wrapper {
  padding-left: 13%;
  padding-top: 43px;
}
#wrapper .content {
  width: 85%;
  margin-right: 0;
  padding: 4px 0px 4px 25px;
  background: #FFFFFF;
  position: absolute;
}
#wrapper .content .content-second-nav {
  width: 99%;
  background: #F5F5F5;
}
#wrapper .content .content-second-nav ol {
  padding: 12px 0px 30px 8px;
  font-size: 15px;
}
#wrapper .content .content-second-nav ol li {
  float: left;
  list-style: none;
  color: #337AB7;
}
#wrapper .content .content-second-nav ol li i {
  margin-right: 3px;
  font-size: 14px;
  color: black;
}
#wrapper .content .content-second-nav ol .active {
  color: #9E7777;
}
#wrapper .content .content-second-nav ol .active:before {
  color: #ccc;
  padding: 0 7px;
  content: "/\00a0";
}
.article {
  padding-bottom: 140px;
  width: 75%;
  position: absolute;
}
.article textarea {
  font-family: 'Microsoft Yahei', sans-serif;
}
.article .article-title {
  width: 830px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
}
.article .article-title .article-title-theme {
  padding: 10px;
  font-size: 12px;
  line-height: 120%;
  text-align: left;
  border-bottom: 1px solid #e2e2e2;
}
.article .article-title .article-title-content {
  padding: 0px;
  background-color: #fff;
  font-size: 12px;
  line-height: 70%;
  text-align: left;
}
.article .article-title .article-title-content textarea {
  width: 810px;
  height: 24px;
  border: none;
  resize: none;
  background-color: #f9f9f9;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  margin: 0px;
}
.article .article-body {
  width: 830px;
  border: 1px solid #DDDDDD;
}
.article .article-body .article-body-theme {
  border-bottom: 1px solid #E2E2E2;
  border-left: 1px solid #E2E2E2;
  background: #FFFFFF;
  font-size: 12px;
  padding: 10px;
}
.article .article-category {
  background: #FFFFFF;
  padding: 10px;
  width: 810px;
  margin-top: 0px;
  border: 1px solid #DDDDDD;
  border-top: none;
  font-size: 14px;
}
.article .article-category .category {
  float: left;
}
.article .article-category .category select {
  margin-left: 10px;
  font-size: 15px;
  padding: 3px 0px 3px 7px;
}
.article .article-category .tag {
  float: right;
  font-size: 15px;
  margin-right: 10px;
}
.article .article-category .tag input {
  margin-left: 10px;
  height: 20px;
}
.article .article-operate {
  width: 830px;
  padding: 10px 0px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF;
  position: absolute;
}
.article .article-operate .preview-article {
  float: left;
  margin-left: 10px;
  padding: 5px 20px 5px 45px;
}
.article .article-operate #pre {
  position: relative;
  left: -104px;
  top: 3px;
}
.article .view {
  width: 830px;
  border: 1px solid #DDDDDD;
  min-height: 50px;
  padding-bottom: 10px;
  margin-top: 50px;
}
.article .description {
  width: 830px;
  border: 1px solid #DDDDDD;
}
.article .description .description-title {
  padding: 10px;
  font-size: 14px;
}
.article .description .editor {
  height: 100px;
}
.article .description-operate {
  width: 830px;
  padding: 10px 0px;
  border: 1px solid #DDDDDD;
  background: #FFFFFF;
  position: absolute;
}
.article .description-operate i {
  position: relative;
  left: -104px;
  top: 3px;
}
.article .description-operate button {
  float: left;
  margin-left: 10px;
  padding: 5px 20px 5px 45px;
}
.article .description-view {
  width: 830px;
  border: 1px solid #DDDDDD;
  min-height: 50px;
  padding-bottom: 10px;
  margin-top: 50px;
}
.article .editor {
  overflow: auto;
  border: 1px solid silver;
  border-right: none;
  height: 300px;
  box-shadow: inset 0 0 10px silver;
  padding: 0.7em;
  background: #F9F9F9;
  resize: none;
  overflow-y: scroll;
  width: 812px;
}
.article .publish {
  text-align: center;
  width: 830px;
  margin-top: 15px;
}
.article .publish .publish-article {
  padding: 6px 10px;
  font-size: 15px;
}
.article .publish .publish-article i {
  margin-left: 10px;
  margin-right: 10px;
}
.operate {
  position: absolute;
  width: 20%;
  left: 79%;
  font-size: 13px;
}
.operate .title {
  margin-bottom: 9px;
}
.operate .publish button {
  background: #FFF;
  border: 1px solid #E5E5E5;
  padding: 8px 18px;
  border-radius: 10%;
}
.operate .publish button i {
  margin-right: 6px;
}
.operate .publish button:hover {
  background: blue;
  color: #FFF;
  cursor: pointer;
}
.operate .article-category {
  margin-top: 20px;
}
.operate .article-category span {
  display: block;
  margin-top: 5px;
}
.operate .article-category span input {
  margin: 0 4px 0 0;
  vertical-align: text-bottom;
  height: 14px;
}
.operate .tag {
  margin-top: 20px;
}
.operate .tag input {
  border: 1px solid #E0E0E0;
  border-radius: 6%;
  height: 16px;
  font-size: 14px;
  padding: 6px;
  font-family: Microsoft Yahei;
}
