header {
  top: 0;
  left: 0;
  background: #222222;
  position: fixed;
  z-index: 1000;
}
header .navbar-header {
  height: auto;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background: #222222;
  color: #9D9D9D;
  font-size: 18px;
  padding: 15px 0px 15px 20px;
}
header .navbar-right {
  position: fixed;
  right: 10px;
  color: #999999;
  top: 15px;
  font-size: 14px;
}
header .navbar-left {
  bottom: 0;
  position: fixed;
  top: 50px;
  background: #222222;
  width: 13%;
}
header .navbar-left ul {
  color: #9D9D9D;
  list-style: none;
  margin-top: 0;
  border: 0;
}
header .navbar-left ul li {
  line-height: 1.42857143;
  margin-left: -40px;
  padding: 15px 0px 15px 20px;
  font-size: 14px;
}
header .navbar-left ul li i {
  margin-right: 9px;
}
header .navbar-left ul li:hover {
  background: #000000;
  cursor: pointer;
  color: #ffffff;
}
header .navbar-left ul .active {
  line-height: 1.42857143;
  font-size: 14px;
  margin-left: -40px;
  padding: 15px 0px 15px 20px;
  background: #080808;
  color: #FFFFFF;
}
body {
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
pre {
  background: #F8F8F8;
  padding: 10px;
}
#wrapper {
  padding-left: 13%;
  padding-top: 43px;
}
#wrapper .content {
  width: 85%;
  margin-right: 0;
  padding: 4px 0px 4px 25px;
  background: #FFFFFF;
  position: absolute;
}
#wrapper .content .content-second-nav {
  width: 99%;
  background: #F5F5F5;
}
#wrapper .content .content-second-nav ol {
  padding: 12px 0px 30px 8px;
  font-size: 15px;
}
#wrapper .content .content-second-nav ol li {
  float: left;
  list-style: none;
  color: #337AB7;
}
#wrapper .content .content-second-nav ol li i {
  margin-right: 3px;
  font-size: 14px;
  color: black;
}
#wrapper .content .content-second-nav ol .active {
  color: #9E7777;
}
#wrapper .content .content-second-nav ol .active:before {
  color: #ccc;
  padding: 0 7px;
  content: "/\00a0";
}
body {
  font-family: "Microsoft Yahei", sans-serif;
  margin: 0;
}
body .content-find {
  width: 99%;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #F5F5F5;
}
body .content-find .find-by-type {
  float: left;
  font-size: 12px;
  color: #999999;
}
body .content-find .find-by-type select {
  margin-left: 5px;
  font-size: 13px;
  padding: 1px 0px;
}
body .content-find .add-article {
  float: right;
  font-size: 14px;
}
body .content-find .add-article a {
  padding: 8px 13px;
  background: #3BB2D6;
  color: #FFFFFF;
  font-weight: bold;
}
body .content-find .add-article a:link {
  text-decoration: none;
}
body .content-article-list {
  width: 99%;
}
body .content-article-list table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
body .content-article-list table thead {
  width: inherit;
  background: #4DBCE9;
  color: #FFFFFF;
}
body .content-article-list table thead tr th {
  padding: 10px 0px;
}
body .content-article-list table tbody {
  width: inherit;
  font-size: 14px;
}
body .content-article-list table tbody tr {
  border-top: 1px solid #EEEEEE;
}
body .content-article-list table tbody tr td {
  padding: 10px 0px;
  line-height: 1.5;
}
body .content-article-list table tbody tr td span {
  color: #999999;
  font-size: 12px;
}
body .content-article-list table tbody tr td a {
  font-size: 12px;
  padding: 6px 10px;
  background: #57D249;
  margin-left: 3px;
  color: #FFFFFF;
  border: 1px solid #fff;
}
body .content-article-list table tbody tr td a:link {
  text-decoration: none;
}
body .content-article-list table .slug {
  width: 10%;
}
body .content-article-list table .title {
  width: 35%;
  text-align: left !important;
}
body .content-article-list table .viewNum {
  width: 10%;
}
body .content-article-list table .thumbNum {
  width: 10%;
}
body .content-article-list table .status {
  width: 10%;
}
body .content-article-list table .operate {
  width: 25%;
}
