
/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #54C440;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #54C440 1px 0 6px 1px;
  -ms-box-shadow: #54C440 1px 0 6px 1px;
  -webkit-box-shadow: #54C440 1px 0 6px 1px;
  box-shadow: #54C440 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #54C440;
  border-left-color: #54C440;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#about .about-head {
  width: 66.6667%;
  position: absolute;
  top: 0;
  bottom: 0;
}
#about .about-head .image {
  position: fixed;
  background: url('/resources/image/about_me.jpg') no-repeat #EEEEEE;
  top: 45px;
  bottom: 0;
  width: 60%;
  background-size: cover;
  background-position-x: 80%;
}
#about .about-body {
  width: 31%;
  float: right;
  word-wrap: break-word;
  padding-right: 3%;
  font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif;
  margin-bottom: 2em;
}
#about .about-body .spot {
  margin-top: 3em;
}
#about .about-body .spot a {
  text-decoration: none;
  display: inline-block;
  height: 40px;
  background: #DF611A;
  font-size: 1.4rem;
  border-radius: 5px;
  line-height: 40px;
  padding: 0 15px;
  position: relative;
  width: 180px;
  color: #FFF;
  border: 1px solid #DF611A;
}
#about .about-body .spot a i {
  font-size: 2.1rem;
  margin-right: .2em;
  position: absolute;
  line-height: 38px;
  left: 17px;
}
#about .about-body .spot a span {
  position: absolute;
  left: 46px;
  line-height: 42px;
}
#about .about-body .spot a:hover {
  background: #E8641B;
}
#about .about-body .contact,
#about .about-body .person,
#about .about-body .open-source,
#about .about-body .work-experience,
#about .about-body .education,
#about .about-body .awards,
#about .about-body .technical {
  margin-top: 3em;
}
#about .about-body .contact h2,
#about .about-body .person h2,
#about .about-body .open-source h2,
#about .about-body .work-experience h2,
#about .about-body .education h2,
#about .about-body .awards h2,
#about .about-body .technical h2 {
  color: #424242;
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
}
#about .about-body .contact ul,
#about .about-body .person ul,
#about .about-body .open-source ul,
#about .about-body .work-experience ul,
#about .about-body .education ul,
#about .about-body .awards ul,
#about .about-body .technical ul {
  font-size: 1.4rem;
  font-family: Verdana, Microsoft YaHei, sans-serif;
  color: #796A66;
}
#about .about-body .contact ul li,
#about .about-body .person ul li,
#about .about-body .open-source ul li,
#about .about-body .work-experience ul li,
#about .about-body .education ul li,
#about .about-body .awards ul li,
#about .about-body .technical ul li {
  margin-top: .3em;
}
#about .about-body .contact ul li a,
#about .about-body .person ul li a,
#about .about-body .open-source ul li a,
#about .about-body .work-experience ul li a,
#about .about-body .education ul li a,
#about .about-body .awards ul li a,
#about .about-body .technical ul li a {
  color: #796A66;
}
#about .about-body .social {
  margin: 30px 0 100px 0;
}
#about .about-body .social img,
#about .about-body .social svg {
  width: 46px;
  height: 46px;
  margin-left: 16px;
}
#about .about-body .social img {
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
}
#about .about-body h1 {
  font-size: 2rem;
  color: #343434;
  padding: 0;
  margin-bottom: 0;
  font-family: proxima-nova-1, proxima-nova-2, Tahoma, Helvetica, Verdana, sans-serif;
  letter-spacing: 0.15em;
}
#about .about-body h2 {
  font-size: 1.5rem;
  color: #666666;
  padding: 0;
  margin-top: 7px;
  text-shadow: 1px 1px #CCC;
}

#archives .foot-wrapper {
  margin-left: 218px;
}
#archives .archive-panel {
  position: fixed;
  width: 218px;
  top: 46px;
  bottom: 0;
  background: #FFF;
  border-right: 1px solid #E7E7E7;
  border-left: 1px solid #555555;
}
#archives .archive-panel .archive-head {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background: #F5F5F5;
  border-bottom: 1px solid #DBDBDB;
  color: #7A987B;
}
#archives .archive-panel .archive-list ul {
  padding: 0;
  list-style: none;
}
#archives .archive-panel .archive-list ul li {
  padding-left: 15px;
  margin-top: 8px;
  color: #ADADAD;
}
#archives .archive-panel .archive-list ul li:before {
  font-family: FontAwesome;
  content: '\f0da';
  font-size: 1em;
  color: #ADADAD;
  margin-right: 0.5em;
}
#archives .archive-panel .archive-list ul li a {
  color: #BE9117;
  font-size: 15px;
  text-decoration: none;
}
#archives .archive-panel .archive-list ul li a:hover {
  text-decoration: underline;
}
#archives .archive-panel .archive-list ul li .active {
  color: blue;
}
#archives .archive-panel .archive-list ul li span {
  margin-left: 10px;
  font-size: 13px;
}
#archives .archive-article-list {
  background: #FFF;
  padding: 0 3% 80px 3%;
  min-height: 600px;
  border-bottom: 1px solid #DDDDDD;
  margin-left: 218px;
}
#archives .archive-article-list .article-item {
  border-bottom: 1px dashed #DDDDDD;
  padding: 25px 0 16px 0;
}
#archives .archive-article-list .article-item .article-head {
  margin-bottom: 10px;
}
#archives .archive-article-list .article-item .article-head .article-title a {
  color: #333;
  text-decoration: none;
  font-size: 22px;
}
#archives .archive-article-list .article-item .article-metadata {
  color: #999;
  font-size: 13px;
  margin-bottom: 10px;
}
#archives .archive-article-list .article-item .article-metadata .article-time:after {
  content: ' • ';
  font-size: 17px;
  margin: 0 0.2em;
}
#archives .archive-article-list .article-item .article-metadata .article-category a {
  text-decoration: none;
  color: #4288AF;
}
#archives .archive-article-list .article-item .article-metadata .article-category a:hover {
  text-decoration: underline;
}
#archives .archive-article-list .article-item .article-metadata .article-category:after {
  content: '   •   ';
  font-size: 17px;
  margin: 0 0.2em;
}
#archives .archive-article-list .article-item .article-metadata .article-view i {
  margin-right: 3px;
}
#archives .archive-article-list .article-item .article-description {
  font-size: 15px;
  text-indent: 2em;
  line-height: 1.6;
  margin-bottom: 20px;
}
#archives .archive-article-list .article-item .article-description p {
  text-indent: 2em;
}
#archives .archive-article-list .article-item .article-footer {
  font-size: 14px;
}
#archives .archive-article-list .article-item .article-footer .article-tags {
  width: 75%;
  float: left;
  text-align: left;
}
#archives .archive-article-list .article-item .article-footer .article-tags .tag {
  background: #CCCCCC;
  color: #FFF;
  padding: 2px 9px 5px 9px;
  margin-left: 5px;
}
#archives .archive-article-list .article-item .article-footer .article-tags .tag:first-child {
  margin: 0;
}
#archives .archive-article-list .article-item .article-footer .read-more {
  width: 25%;
  float: left;
  text-align: right;
}
#archives .archive-article-list .article-item .article-footer .read-more a {
  color: #CC7832;
  text-decoration: none;
}
#archives .archive-article-list .article-item .article-footer .read-more a i {
  margin-left: 7px;
}

#article .article-content {
  font-size: 1.5rem;
  width: 100% - 1px;
  line-height: 1.85em;
  color: #424242;
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #EEEEEE;
  letter-spacing: 1px;
}
#article .article-content .content-head {
  border-bottom: 1px solid #EDEDED;
}
#article .article-content .content-head h1 {
  font-weight: normal;
  font-size: 2.6rem;
  margin-left: 2%;
  text-shadow: 1px 1px #CCC;
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
  color: #424242;
}
#article .article-content .content-head .content-head-detail {
  margin-bottom: 0.6em;
  margin-left: 2%;
}
#article .article-content .content-head .content-head-detail span {
  font-size: 1rem;
  color: #BDBDBD;
  margin-left: 1.35rem;
}
#article .article-content .content-head .content-head-detail span i {
  margin-right: 0.15rem;
}
#article .article-content .content-head .content-head-detail .c_time {
  margin: 0;
}
#article .article-content .content-head .content-head-detail .c_name a {
  color: #8E9600;
  text-decoration: none;
}
#article .article-content .content-head .content-head-detail .c_like a {
  color: #8E9600;
  text-decoration: none;
}
#article .article-content .content-head .content-head-detail a:hover {
  text-decoration: underline;
}
#article .article-content .content-body {
  font-size: 16px;
  width: 73%;
  margin-left: 2%;
  float: left;
  color: #424242;
  font-family: "Open Sans", "Noto Sans", "Noto Sans CJK SC", "Microsoft Yahei", sans-serif;
  line-height: 1.6;
}
#article .article-content .content-body img {
  max-width: 100%;
  display: block;
  margin: 15px auto;
}
#article .article-content .content-body table {
  border: 1px solid silver;
  border-collapse: collapse;
  text-align: center;
}
#article .article-content .content-body table td {
  border: 1px solid silver;
  border-collapse: collapse;
  padding: 3px 10px;
}
#article .article-content .content-nav {
  width: 240px;
  float: right;
  margin-top: 1em;
  margin-right: 25px;
}
#article .article-content .content-nav .nav-heading {
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 10px 20px;
}
#article .article-content .fixed {
  position: fixed;
  right: 0;
  top: 50px;
}
#article .article-content .nav-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#article .article-content .nav-list ul li {
  padding-left: 20px;
  font-size: 15px;
  border-left: 3px solid #F3F3F3;
}
#article .article-content .nav-list ul li:hover {
  cursor: pointer;
  color: #C1272D;
  border-color: #F3F3F3;
  background: #F1F1F1;
}
#article .article-content .nav-list ul .active {
  color: #C1272D;
  background: #F1F1F1;
  border-color: #c1272d;
}
#article .article-content em {
  font-size: 1.4rem;
  font-style: normal!important;
  padding: 0.2em 0.5em;
  color: #C7254E;
  font-family: Consolas, sans-serif !important;
}
#article .article-content code {
  background: #F0F0F0;
  color: #D6D3D3;
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#article .article-content h1 {
  color: #D2D8BA;
  font-weight: normal;
  font-size: 2.6rem;
  text-shadow: 1px 1px #CCC;
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
}
#article .article-content h2 {
  text-shadow: 1px 1px #CCC;
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
}
#article .article-content h3 {
  text-shadow: 1px 1px #CCC;
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
}
#article .article-content a {
  color: #42A5F5;
  text-decoration: none;
}
#article .article-content a:hover {
  text-decoration: underline;
}

#bookDetail .book-content {
  font-size: 1.5rem;
  width: 100%;
  line-height: 1.85em;
  color: #424242;
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #515658;
}
#bookDetail .book-content .content-head {
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
  width: 60%;
  padding-right: 30%;
  padding-left: 10%;
}
#bookDetail .book-content .content-head h1 {
  margin-left: 2%;
  font-size: 21px;
  color: #444;
}
#bookDetail .book-content .content-head .content-head-detail {
  margin-bottom: 0.6em;
  margin-left: 2%;
}
#bookDetail .book-content .content-head .content-head-detail span {
  font-size: 1rem;
  color: #BDBDBD;
  margin-left: 1.35rem;
}
#bookDetail .book-content .content-head .content-head-detail span i {
  margin-right: 0.15rem;
}
#bookDetail .book-content .content-head .content-head-detail .c_time {
  margin: 0;
}
#bookDetail .book-content .content-head .content-head-detail .c_name a {
  color: red;
  text-decoration: none;
}
#bookDetail .book-content .content-head .content-head-detail .c_like a {
  color: red;
  text-decoration: none;
}
#bookDetail .book-content .content-head .content-head-detail a:hover {
  text-decoration: underline;
}
#bookDetail .book-content .content-body {
  width: 60%;
  float: left;
  min-height: 600px;
  margin-left: 10%;
  color: #666;
}
#bookDetail .book-content .content-body p {
  text-indent: 2em;
}
#bookDetail .book-content .content-nav {
  width: 240px;
  float: right;
  margin-top: 1em;
  margin-right: 25px;
}
#bookDetail .book-content .content-nav span {
  font-size: 14px;
  color: #D9D9D9;
}
#bookDetail .book-content .content-nav span a {
  color: #4094c7;
  text-decoration: none;
}
#bookDetail .book-content .content-nav img {
  margin: 10px 0 0 10px;
}
#bookDetail .book-content .fixed {
  position: fixed;
  right: 0;
  top: 50px;
}
#bookDetail .book-content em {
  font-size: 1.3rem;
  font-style: normal!important;
  background: #F6F6F6;
  padding: 0.2em 0.8em;
  color: #C7254E;
  font-family: Consolas, sans-serif !important;
}
#bookDetail .book-content code {
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#bookDetail .book-content h1,
#bookDetail .book-content h2,
#bookDetail .book-content h3 {
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
}

#book {
  min-height: 600px;
  border-bottom: 1px solid #DDDDDD;
}
#book .book-wrapper {
  width: 60%;
  margin-left: 35px;
  margin-top: 10px;
}
#book .book-wrapper .book {
  border-top: 1px dashed #DDDDDD;
  padding-top: 22px;
  padding-bottom: 15px;
}
#book .book-wrapper .book .book-banner {
  float: left;
}
#book .book-wrapper .book .book-banner img {
  width: 90px;
  border: 5px solid #FFF;
}
#book .book-wrapper .book .book-banner img:hover {
  border: 5px solid #333333;
}
#book .book-wrapper .book .book-detail {
  float: left;
  width: calc(100% - 120px);
  margin-top: 2px;
  margin-left: 20px;
}
#book .book-wrapper .book .book-detail .book-title {
  font-size: 15px;
  font-weight: 600;
}
#book .book-wrapper .book .book-detail .book-title a {
  font-size: 16px;
  text-decoration: none;
  color: #444;
}
#book .book-wrapper .book .book-detail .book-title a:hover {
  color: #00A8E6;
}
#book .book-wrapper .book .book-detail .book-operate {
  margin-top: 7px;
  color: #676767;
}
#book .book-wrapper .book .book-detail .book-operate a {
  color: #71A7C7;
  text-decoration: none;
}
#book .book-wrapper .book .book-detail .book-intro {
  font-size: 14px;
  margin-top: 12px;
  line-height: 1.4;
  color: #666;
}
#book .book-wrapper .book .book-read {
  margin-left: 120px;
}
#book .book-wrapper .book .book-read a {
  background: #00A8E6;
  color: #FFF;
  text-decoration: none;
  padding: 0 12px;
  font-size: 13px;
  line-height: 28px;
  min-height: 30px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  display: inline-block;
}
#book .book-wrapper .book .book-read a:hover {
  background: #0099cc;
}
#book .reading-book {
  position: fixed;
  height: 100px;
  width: 270px;
  right: 25px;
  top: 55px;
}
#book .reading-book .book-list {
  margin-top: 20px;
}
#book .reading-book .book-list img {
  float: left;
  display: inline-block;
  width: 70px;
  height: 100px;
  margin: 0 18px 25px 0;
}
#book .reading-book .book-list img:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}
#book .cate-name {
  font-size: 18px;
  height: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
}

#category .foot-wrapper {
  margin-left: 218px;
}
#category .archive-panel {
  position: fixed;
  width: 218px;
  top: 46px;
  bottom: 0;
  background: #FFF;
  border-right: 1px solid #E7E7E7;
  border-left: 1px solid #555555;
}
#category .archive-panel .archive-head {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background: #F5F5F5;
  border-bottom: 1px solid #DBDBDB;
  color: #7A987B;
}
#category .archive-panel .archive-list ul {
  padding: 0;
  list-style: none;
}
#category .archive-panel .archive-list ul li {
  padding-left: 15px;
  margin-top: 8px;
  color: #ADADAD;
}
#category .archive-panel .archive-list ul li:before {
  font-family: FontAwesome;
  content: '\f0da';
  font-size: 1em;
  color: #ADADAD;
  margin-right: 0.5em;
}
#category .archive-panel .archive-list ul li a {
  color: #BE9117;
  font-size: 15px;
  text-decoration: none;
}
#category .archive-panel .archive-list ul li a:hover {
  text-decoration: underline;
}
#category .archive-panel .archive-list ul li .active {
  color: blue;
}
#category .archive-panel .archive-list ul li span {
  margin-left: 10px;
  font-size: 13px;
}
#category .article-list {
  margin-left: 218px;
  background: #FFF;
  padding: 0 3% 80px 3%;
  min-height: 600px;
  border-bottom: 1px solid #DDDDDD;
}
#category .article-list .article-item {
  border-bottom: 1px dashed #DDDDDD;
  padding: 25px 0 16px 0;
}
#category .article-list .article-item .article-head {
  margin-bottom: 10px;
}
#category .article-list .article-item .article-head .article-title a {
  color: #333;
  text-decoration: none;
  font-size: 22px;
}
#category .article-list .article-item .article-metadata {
  color: #999;
  font-size: 13px;
  margin-bottom: 10px;
}
#category .article-list .article-item .article-metadata .article-time:after {
  content: ' • ';
  font-size: 17px;
  margin: 0 0.2em;
}
#category .article-list .article-item .article-metadata .article-category a {
  text-decoration: none;
  color: #4288AF;
}
#category .article-list .article-item .article-metadata .article-category a:hover {
  text-decoration: underline;
}
#category .article-list .article-item .article-metadata .article-category:after {
  content: '   •   ';
  font-size: 17px;
  margin: 0 0.2em;
}
#category .article-list .article-item .article-metadata .article-view i {
  margin-right: 3px;
}
#category .article-list .article-item .article-description {
  font-size: 15px;
  text-indent: 2em;
  line-height: 1.6;
  margin-bottom: 20px;
}
#category .article-list .article-item .article-description p {
  text-indent: 2em;
}
#category .article-list .article-item .article-footer {
  font-size: 14px;
}
#category .article-list .article-item .article-footer .article-tags {
  width: 75%;
  float: left;
  text-align: left;
}
#category .article-list .article-item .article-footer .article-tags .tag {
  background: #CCCCCC;
  color: #FFF;
  padding: 2px 9px 5px 9px;
  margin-left: 5px;
}
#category .article-list .article-item .article-footer .article-tags .tag:first-child {
  margin: 0;
}
#category .article-list .article-item .article-footer .read-more {
  width: 25%;
  float: left;
  text-align: right;
}
#category .article-list .article-item .article-footer .read-more a {
  color: #CC7832;
  text-decoration: none;
}
#category .article-list .article-item .article-footer .read-more a i {
  margin-left: 7px;
}

html {
  font-size: 65%;
}
body {
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  background: #FFF;
}
.clear-fix {
  clear: both;
}
/** 进度条样式  **/
#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #2c3e50;
  border-left-color: #2c3e50;
}
#loading-bar .peg {
  -moz-box-shadow: #2c3e50 1px 0 6px 1px;
  -ms-box-shadow: #2c3e50 1px 0 6px 1px;
  -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
  box-shadow: #2c3e50 1px 0 6px 1px;
}
#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #799FDA;
  border-left-color: #799FDA;
  border-radius: 50%;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation: loading-bar-spinner 400ms linear infinite;
  -ms-animation: loading-bar-spinner 400ms linear infinite;
  -o-animation: loading-bar-spinner 400ms linear infinite;
  animation: loading-bar-spinner 400ms linear infinite;
}
/** 进度条样式结束 **/
#fix-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #3C3F41;
  border-right: 1px solid #000;
  width: 64px;
  z-index: 100;
}
#fix-left .author_info {
  background: #313335;
  padding: 20px 0 30px 0;
  color: #FFF;
  height: 75px;
}
#fix-left .author_info img {
  display: block;
  margin: 10px auto;
  max-width: 76px;
  padding: 2px;
  border: none;
  width: 80%;
}
#fix-left .author_info p {
  margin: 0;
}
#fix-left .menu_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#fix-left .menu_bar ul li {
  font-size: 18px;
  padding: 8px;
  height: 24px;
  line-height: 24px;
}
#fix-left .menu_bar ul li span {
  display: none;
  position: absolute;
  width: 54px;
  height: 40px;
  font-size: 16px;
  background: #2D2F30;
  line-height: 40px;
  left: 45px;
}
#fix-left .menu_bar ul li:hover {
  background: #2D2F30;
  color: #BA8947;
}
#fix-left .menu_bar ul li:hover span {
  display: block;
}
#fix-left .menu_bar ul li:hover a {
  color: #BA8947;
}
#fix-left .menu_bar ul .menu_2 {
  font-size: 16px;
}
#fix-left .menu_bar ul .menu_3 {
  font-size: 16px;
}
#fix-left .menu_bar ul .menu_5 {
  font-size: 16px;
}
#fix-left .menu_bar ul .menu_6 {
  font-size: 20px;
}
#fix-left .menu_bar ul .menu_7 {
  margin-top: 40px;
}
#fix-left .menu_bar ul a {
  text-decoration: none;
  color: #999999;
}
#fix-left .menu_bar ul a:link {
  text-decoration: none;
}
#fix-left .menu_bar ul .active {
  background: #2D2F30;
  color: #BA8947;
}
.wrapper-header {
  position: fixed;
  left: 64px;
  top: 0;
  right: 0;
  z-index: 999;
  height: 45px;
  background: #FFF;
  border-left: 1px solid #555555;
  border-bottom: 1px solid #DBDBDB;
  box-shadow: 2px 1px 5px #DBDBDB;
}
.wrapper-header .search {
  display: inline-block;
  color: #ADADAD;
  width: 300px;
  height: 30px;
  border-radius: 13px;
  margin: 7px 0 0 10px;
  background: #FFF;
  border: 1px solid #ADADAD;
}
.wrapper-header .search i {
  font-size: 16px;
  position: absolute;
  line-height: 30px;
  left: 15px;
}
.wrapper-header .search .search_input {
  border: none;
  width: 222px;
  background: #FFF;
  color: #A8B6AC;
  position: absolute;
  left: 35px;
  height: 28px;
  line-height: 28px;
  outline: none;
}
.content {
  position: absolute;
  z-index: 100;
  top: 46px;
  right: 0;
  bottom: 0;
  left: 64px;
  background: #FFF;
}
.foot-wrapper {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.foot-wrapper img,
.foot-wrapper svg {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.foot-wrapper .foot-message {
  margin-bottom: 20px;
  font-size: 11px;
  color: #666;
}
.foot-wrapper .foot-message .project {
  letter-spacing: 0.3px;
}
.foot-wrapper .foot-message .copyright {
  margin-left: 15px;
}
.foot-wrapper .foot-message a {
  color: #666!important;
  text-decoration: underline!important;
}
.foot-wrapper img {
  border-radius: 20px;
}

#index .scroll-area {
  position: fixed;
  width: 280px;
  top: 47px;
  bottom: 0;
  background: #FFF;
  border-right: 1px solid #9B9B9B;
  border-left: 1px solid #555555;
}
#index .scroll-area .index-article-list {
  position: relative;
  height: auto;
}
#index .scroll-area .index-article-list .article-item {
  padding: 1.3rem 1rem 1rem 1rem;
  border-bottom: 1px solid #EEEEEE;
}
#index .scroll-area .index-article-list .article-item .article-header {
  margin-bottom: 1.3rem;
  font-size: 1.45rem;
}
#index .scroll-area .index-article-list .article-item .article-header .article-category {
  color: #8e2013;
  text-decoration: none;
  margin-right: 0.1rem;
}
#index .scroll-area .index-article-list .article-item .article-header .article-title {
  color: #551A8B;
  text-decoration: none;
}
#index .scroll-area .index-article-list .article-item .article-description {
  font-size: 12px;
  color: #777777;
  line-height: 1.7;
  margin-bottom: 1.8rem;
  text-indent: 2em;
}
#index .scroll-area .index-article-list .article-item .article-metadata {
  font-size: 1.1rem;
  color: #BFBFBF;
}
#index .scroll-area .index-article-list .article-item .article-metadata .create-time {
  display: inline-block;
  text-align: left;
  float: left;
}
#index .scroll-area .index-article-list .article-item .article-metadata .create-time i {
  margin-right: 0.5rem;
}
#index .scroll-area .index-article-list .article-item .article-metadata .meta-tags {
  float: right;
}
#index .scroll-area .index-article-list .article-item .article-metadata .meta-tags span {
  display: inline-block;
  float: left;
  margin-right: 0.8rem;
}
#index .scroll-area .scroll-vertical {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 0.3rem;
  right: 0;
}
#index .scroll-area .scroll-vertical .scroll-bar {
  width: 0.26rem;
  height: 18rem;
  border-radius: 5px;
  background-color: #B9B9B9;
  background-clip: padding-box;
  border: 1px solid #C9C9C9;
}
#index .scroll-area-detail {
  display: none;
}
#index .article-content {
  font-size: 1.5rem;
  margin-left: 282px;
  width: calc(100% - 332px);
  line-height: 1.85em;
  font-weight: 300;
  padding-left: 30px;
  color: #424242;
}
#index .article-content .content-head {
  border-bottom: 1px solid #EDEDED;
}
#index .article-content .content-head .content-head-detail {
  margin-bottom: 0.6rem;
}
#index .article-content .content-head .content-head-detail span {
  font-size: 1rem;
  color: #BDBDBD;
  margin-left: 1.35rem;
}
#index .article-content .content-head .content-head-detail span i {
  margin-right: 0.15rem;
}
#index .article-content .content-head .content-head-detail .c_time {
  margin: 0;
}
#index .article-content .content-head .content-head-detail .c_name a {
  color: #8E9600;
  text-decoration: none;
  font-size: 12px;
}
#index .article-content .content-head .content-head-detail .c_like a {
  color: #8E9600;
  text-decoration: none;
  font-size: 12px;
}
#index .article-content .content-head .content-head-detail a:hover {
  text-decoration: underline;
}
#index .article-content .content-body {
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 30px;
}
#index .article-content .content-body img {
  max-width: 100%;
  display: block;
  margin: 15px auto;
}
#index .article-content .content-body table {
  border: 1px solid silver;
  border-collapse: collapse;
  text-align: center;
}
#index .article-content .content-body table td {
  border: 1px solid silver;
  border-collapse: collapse;
  padding: 3px 10px;
}
#index .article-content em {
  font-size: 1.4rem;
  font-style: normal!important;
  padding: 0.2em 0.5em;
  color: #C7254E;
  font-family: Consolas, sans-serif !important;
}
#index .article-content code {
  background: #F0F0F0;
  color: #D6D3D3;
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#index .article-content h1 {
  font-size: 2.6rem;
}
#index .article-content h1,
#index .article-content h2,
#index .article-content h3 {
  font-family: Verdana, Geneva, "Open Sans", SimHei, "Noto Sans", "Noto Sans CJK SC", "Microsoft Yahei", sans-serif;
  text-shadow: 1px 1px #CCC;
  color: #212121;
}
#index .article-content a {
  color: #42A5F5;
  text-decoration: none;
}
#index .article-content a:hover {
  text-decoration: underline;
}

#record {
  position: relative;
  min-height: 600px;
  background: url("/resources/image/record_background.png") repeat;
  padding: 40px 0 223px 0;
}
#record .record-content {
  width: 55%;
  margin-left: 30%;
}
#record .record-content .record-title {
  font-size: 24px;
  height: 56px;
  line-height: 56px;
  padding-left: 60px;
  font-weight: 600;
  background: url("/resources/image/clock.png") no-repeat;
  background-position-y: 3px;
  background-size: 50px 50px;
  color: #7B95A7;
}
#record .record-content .main .year {
  position: relative;
}
#record .record-content .main .year .time-line {
  width: 2px;
  position: absolute;
  bottom: 0;
  top: -5px;
  background: #5495BA;
  left: 24px;
}
#record .record-content .main .year .year-title {
  width: 130px;
  font-size: 24px;
  color: #E5645D;
  margin-left: -132px;
}
#record .record-content .main .year .year-title i {
  margin-left: 10px;
}
#record .record-content .main .year .daily {
  margin-top: 40px;
}
#record .record-content .main .year .daily .daily-title {
  font-size: 19px;
}
#record .record-content .main .year .daily .daily-title .time {
  float: left;
  margin-left: -100px;
  color: #AB5411;
}
#record .record-content .main .year .daily .daily-title .title {
  float: left;
  margin-left: 65px;
  color: #37B158;
  font-weight: 600;
}
#record .record-content .main .year .daily .daily-content {
  margin: 10px 0 0 65px;
  color: #675050;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 24px;
  width: 525px;
}
#record .record-content .main .year .daily .daily-content p {
  margin: 0;
  padding: 0;
}
#record .record-content .main .year .daily .daily-content a {
  color: #675050;
  font-family: Consolas, serif;
}
#record .record-content .main .year .daily .daily-content img {
  max-width: 100%;
  margin-top: 10px;
}
#record .record-top {
  position: absolute;
  background: url("/resources/image/record_background_top.png");
  width: 200px;
  height: 215px;
  display: inline-block;
  right: 26px;
  top: 14px;
}
#record .record-bottom {
  position: absolute;
  background: url("/resources/image/record_background_bottom.png");
  width: 552px;
  height: 186px;
  display: inline-block;
  left: 130px;
  bottom: 25px;
}
