html {
  font-size: 65%;
}
body {
  font-family: "Open Sans", "Noto Sans", "Noto Sans CJK SC", "Microsoft Yahei", sans-serif;
  background: #FFF;
}
.clear-fix {
  clear: both;
}
/** 进度条样式 **/
#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #2c3e50;
  border-left-color: #2c3e50;
}
#loading-bar .peg {
  -moz-box-shadow: #2c3e50 1px 0 6px 1px;
  -ms-box-shadow: #2c3e50 1px 0 6px 1px;
  -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
  box-shadow: #2c3e50 1px 0 6px 1px;
}
/** 进度条样式结束 **/
#fix-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 11%;
  background: #2B333D;
  text-align: center;
}
#fix-left .author_info {
  background: #24272D;
  margin-top: -10px;
  padding-top: 10px;
}
#fix-left .author_info img {
  display: block;
  margin: 10px auto;
  max-width: 76px;
  padding: 2px;
  border: none;
}
#fix-left .author_info p {
  text-align: center;
  color: white;
}
#fix-left .author_info .motto {
  text-align: left;
  font-size: 13px;
  padding: 0 20px 15px 15px;
  color: #777777;
}
#fix-left .menu_bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#fix-left .menu_bar ul li {
  font-size: 18px;
  padding: 8px;
}
#fix-left .menu_bar ul li i {
  margin-right: 0.7em;
}
#fix-left .menu_bar ul li:hover {
  background: #2F889A;
  color: #FFFFFF;
}
#fix-left .menu_bar ul a {
  text-decoration: none;
  color: #999999;
}
#fix-left .menu_bar ul a:link {
  text-decoration: none;
}
#fix-left .menu_bar ul .active {
  background: #2F889A;
  color: #FFFFFF;
}
.wrapper-header {
  position: fixed;
  left: 11%;
  top: 0;
  right: 0;
  padding: 8px;
  background: #FFFFFF;
  border-bottom: 2px solid #DDD;
  z-index: 999;
  box-shadow: 2px 1px 5px #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}
.wrapper-header .search {
  background: url('/resources/image/search_background.png') no-repeat;
  width: 276px;
  height: 28px;
  background-size: 276px 28px;
  display: inline-block;
}
.wrapper-header .search .search_input {
  border: none;
  width: 222px;
  height: 26px;
  margin: 0px 0px 2px 30px;
  background-color: transparent;
  outline: none;
}
.content {
  position: absolute;
  z-index: 100;
  top: 4rem;
  right: 0;
  bottom: 0;
  left: 11%;
}
.scroll-area {
  position: fixed;
  width: 22%;
  top: 4rem;
  bottom: 0;
  border-right: 1px solid #EEEEEE;
}
.scroll-area .index-article-list {
  position: relative;
  height: auto;
}
.scroll-area .index-article-list .article-item {
  padding: 1.3rem 1rem 1rem 1rem;
  border-bottom: 1px solid #EEEEEE;
}
.scroll-area .index-article-list .article-item .article-header {
  margin-bottom: 1.3rem;
  font-size: 1.45rem;
}
.scroll-area .index-article-list .article-item .article-header .article-category {
  color: #8e2013;
  text-decoration: none;
  margin-right: 0.1rem;
}
.scroll-area .index-article-list .article-item .article-header .article-title {
  color: #551A8B;
  text-decoration: none;
}
.scroll-area .index-article-list .article-item .article-description {
  font-size: 12px;
  color: #777777;
  line-height: 1.7;
  margin-bottom: 1.8rem;
  text-indent: 2em;
}
.scroll-area .index-article-list .article-item .article-metadata {
  font-size: 1.1rem;
  color: #BFBFBF;
}
.scroll-area .index-article-list .article-item .article-metadata .create-time {
  display: inline-block;
  text-align: left;
  float: left;
}
.scroll-area .index-article-list .article-item .article-metadata .create-time i {
  margin-right: 0.5rem;
}
.scroll-area .index-article-list .article-item .article-metadata .meta-tags {
  float: right;
}
.scroll-area .index-article-list .article-item .article-metadata .meta-tags span {
  display: inline-block;
  float: left;
  margin-right: 0.8rem;
}
.scroll-area .scroll-vertical {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 0.3rem;
  right: 0;
}
.scroll-area .scroll-vertical .scroll-bar {
  width: 0.26rem;
  height: 18rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #000;
  background-clip: padding-box;
}
.scroll-area-detail {
  display: none;
}
.article-content {
  font-size: 1.5rem;
  position: absolute;
  left: 25%;
  width: 72%;
  line-height: 1.85em;
  color: #424242;
  font-weight: 300;
  padding: 0 1.5%;
  font-family: Georgia, Times, "Times New Roman", Helvetica, "Microsoft YaHei", Arial, sans-serif !important;
}
.article-content .content-head {
  border-bottom: 1px solid #EDEDED;
}
.article-content .content-head .content-head-detail {
  margin-bottom: 0.6rem;
}
.article-content .content-head .content-head-detail span {
  font-size: 1rem;
  color: #BDBDBD;
  margin-left: 1.35rem;
}
.article-content .content-head .content-head-detail span i {
  margin-right: 0.15rem;
}
.article-content .content-head .content-head-detail .c_time {
  margin: 0;
}
.article-content .content-head .content-head-detail .c_name a {
  color: red;
  text-decoration: none;
}
.article-content .content-head .content-head-detail .c_like a {
  color: red;
  text-decoration: none;
}
.article-content .content-head .content-head-detail a:hover {
  text-decoration: underline;
}
.article-content em {
  font-size: 1.3rem;
  font-style: normal!important;
  background: #F6F6F6;
  padding: 0.2em 0.8em;
  color: #C7254E;
  font-family: Consolas, sans-serif !important;
}
.article-content code {
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.article-content h1,
.article-content h2,
.article-content h3 {
  text-shadow: 1px 1px #CCC;
  font-family: GothicCustom, 'Arial Narrow', sans-serif;
}
