#archives {
  /*body{
    background: #E2E2E2!important;
  }
*/
}
#archives .archive-panel {
  position: fixed;
  width: 218px;
  top: 46px;
  bottom: 0;
  background: #3C3F41;
  border-right: 1px solid #525252;
  border-top: 1px solid #000;
  border-left: 1px solid #555555;
}
#archives .archive-panel .archive-head {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  background: #393C3E;
  border-bottom: 1px solid #242627;
  color: #7A987B;
}
#archives .archive-panel .archive-list ul {
  padding: 0;
  list-style: none;
}
#archives .archive-panel .archive-list ul li {
  padding-left: 15px;
  margin-top: 8px;
  color: #ADADAD;
}
#archives .archive-panel .archive-list ul li:before {
  font-family: FontAwesome;
  content: '\f0da';
  font-size: 1em;
  color: #ADADAD;
  margin-right: 0.5em;
}
#archives .archive-panel .archive-list ul li a {
  color: #BD9662;
  font-size: 15px;
  text-decoration: none;
}
#archives .archive-panel .archive-list ul li a:hover {
  text-decoration: underline;
}
#archives .archive-panel .archive-list ul li .active {
  color: blue;
}
#archives .archive-panel .archive-list ul li span {
  margin-left: 10px;
  font-size: 13px;
}
#archives .archive-article-list {
  position: absolute;
  left: 220px;
  right: 0;
  background: #323232;
  border-left: 1px solid #000;
  padding: 0 3% 80px 3%;
}
#archives .archive-article-list .article-item {
  border-bottom: 1px dashed #515658;
  padding: 25px 0;
}
#archives .archive-article-list .article-item .article-head {
  margin-bottom: 10px;
}
#archives .archive-article-list .article-item .article-head .article-title a {
  color: #95949A;
  text-decoration: none;
  font-size: 22px;
}
#archives .archive-article-list .article-item .article-metadata {
  color: #999;
  font-size: 13px;
  margin-bottom: 10px;
}
#archives .archive-article-list .article-item .article-metadata .article-time:after {
  content: '   •   ';
  font-size: 17px;
  margin: 0 0.2em;
}
#archives .archive-article-list .article-item .article-metadata .article-category a {
  text-decoration: none;
  color: #71A7C7;
}
#archives .archive-article-list .article-item .article-metadata .article-category a:hover {
  text-decoration: underline;
}
#archives .archive-article-list .article-item .article-metadata .article-category:after {
  content: '   •   ';
  font-size: 17px;
  margin: 0 0.2em;
}
#archives .archive-article-list .article-item .article-metadata .article-view i {
  margin-right: 3px;
}
#archives .archive-article-list .article-item .article-description {
  font-size: 15px;
  text-indent: 2em;
  line-height: 1.6;
  margin-bottom: 20px;
}
#archives .archive-article-list .article-item .article-description p {
  text-indent: 2em;
}
#archives .archive-article-list .article-item .article-footer {
  font-size: 14px;
}
#archives .archive-article-list .article-item .article-footer .article-tags {
  width: 75%;
  float: left;
  text-align: left;
}
#archives .archive-article-list .article-item .article-footer .article-tags .tag {
  background: #CCCCCC;
  color: #FFF;
  padding: 2px 9px;
  margin-left: 5px;
}
#archives .archive-article-list .article-item .article-footer .article-tags .tag:first-child {
  margin: 0;
}
#archives .archive-article-list .article-item .article-footer .read-more {
  width: 25%;
  float: left;
  text-align: right;
}
#archives .archive-article-list .article-item .article-footer .read-more a {
  color: #CC7832;
  text-decoration: none;
}
#archives .archive-article-list .article-item .article-footer .read-more a i {
  margin-left: 7px;
}
