#record {
  position: relative;
  min-height: 600px;
  background: url("/resources/image/record_background.png") repeat;
  padding: 40px 0 223px 0;
}
#record .record-content {
  width: 55%;
  margin-left: 30%;
}
#record .record-content .record-title {
  font-size: 24px;
  height: 56px;
  line-height: 56px;
  padding-left: 60px;
  font-weight: 600;
  background: url("/resources/image/clock.png") no-repeat;
  background-position-y: 3px;
  background-size: 50px 50px;
  color: #7B95A7;
}
#record .record-content .main .year {
  position: relative;
}
#record .record-content .main .year .time-line {
  width: 2px;
  position: absolute;
  bottom: 0;
  top: -5px;
  background: #5495BA;
  left: 24px;
}
#record .record-content .main .year .year-title {
  width: 130px;
  font-size: 24px;
  color: #E5645D;
  margin-left: -132px;
}
#record .record-content .main .year .year-title i {
  margin-left: 10px;
}
#record .record-content .main .year .daily {
  margin-top: 40px;
}
#record .record-content .main .year .daily .daily-title {
  font-size: 19px;
}
#record .record-content .main .year .daily .daily-title .time {
  float: left;
  margin-left: -100px;
  color: #AB5411;
}
#record .record-content .main .year .daily .daily-title .title {
  float: left;
  margin-left: 65px;
  color: #37B158;
  font-weight: 600;
}
#record .record-content .main .year .daily .daily-content {
  margin: 10px 0 0 65px;
  color: #675050;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 24px;
  width: 525px;
}
#record .record-content .main .year .daily .daily-content p {
  margin: 0;
  padding: 0;
}
#record .record-content .main .year .daily .daily-content a {
  color: #675050;
  font-family: Consolas, serif;
}
#record .record-content .main .year .daily .daily-content img {
  max-width: 100%;
  margin-top: 10px;
}
#record .record-top {
  position: absolute;
  background: url("/resources/image/record_background_top.png");
  width: 200px;
  height: 215px;
  display: inline-block;
  right: 26px;
  top: 14px;
}
#record .record-bottom {
  position: absolute;
  background: url("/resources/image/record_background_bottom.png");
  width: 552px;
  height: 186px;
  display: inline-block;
  left: 130px;
  bottom: 25px;
}
