#index .scroll-area {
  position: fixed;
  width: 280px;
  top: 47px;
  bottom: 0;
  background: #FFF;
  border-right: 1px solid #9B9B9B;
  border-left: 1px solid #555555;
}
#index .scroll-area .index-article-list {
  position: relative;
  height: auto;
}
#index .scroll-area .index-article-list .article-item {
  padding: 1.3rem 1rem 1rem 1rem;
  border-bottom: 1px solid #EEEEEE;
}
#index .scroll-area .index-article-list .article-item .article-header {
  margin-bottom: 1.3rem;
  font-size: 1.45rem;
}
#index .scroll-area .index-article-list .article-item .article-header .article-category {
  color: #8e2013;
  text-decoration: none;
  margin-right: 0.1rem;
}
#index .scroll-area .index-article-list .article-item .article-header .article-title {
  color: #551A8B;
  text-decoration: none;
}
#index .scroll-area .index-article-list .article-item .article-description {
  font-size: 12px;
  color: #777777;
  line-height: 1.7;
  margin-bottom: 1.8rem;
  text-indent: 2em;
}
#index .scroll-area .index-article-list .article-item .article-metadata {
  font-size: 1.1rem;
  color: #BFBFBF;
}
#index .scroll-area .index-article-list .article-item .article-metadata .create-time {
  display: inline-block;
  text-align: left;
  float: left;
}
#index .scroll-area .index-article-list .article-item .article-metadata .create-time i {
  margin-right: 0.5rem;
}
#index .scroll-area .index-article-list .article-item .article-metadata .meta-tags {
  float: right;
}
#index .scroll-area .index-article-list .article-item .article-metadata .meta-tags span {
  display: inline-block;
  float: left;
  margin-right: 0.8rem;
}
#index .scroll-area .scroll-vertical {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 0.3rem;
  right: 0;
}
#index .scroll-area .scroll-vertical .scroll-bar {
  width: 0.26rem;
  height: 18rem;
  border-radius: 5px;
  background-color: #B9B9B9;
  background-clip: padding-box;
  border: 1px solid #C9C9C9;
}
#index .scroll-area-detail {
  display: none;
}
#index .article-content {
  font-size: 1.5rem;
  margin-left: 282px;
  width: calc(100% - 332px);
  line-height: 1.85em;
  font-weight: 300;
  padding-left: 30px;
  color: #424242;
}
#index .article-content .content-head {
  border-bottom: 1px solid #EDEDED;
}
#index .article-content .content-head .content-head-detail {
  margin-bottom: 0.6rem;
}
#index .article-content .content-head .content-head-detail span {
  font-size: 1rem;
  color: #BDBDBD;
  margin-left: 1.35rem;
}
#index .article-content .content-head .content-head-detail span i {
  margin-right: 0.15rem;
}
#index .article-content .content-head .content-head-detail .c_time {
  margin: 0;
}
#index .article-content .content-head .content-head-detail .c_name a {
  color: #8E9600;
  text-decoration: none;
  font-size: 12px;
}
#index .article-content .content-head .content-head-detail .c_like a {
  color: #8E9600;
  text-decoration: none;
  font-size: 12px;
}
#index .article-content .content-head .content-head-detail a:hover {
  text-decoration: underline;
}
#index .article-content .content-body {
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 30px;
}
#index .article-content .content-body img {
  display: block;
  margin: 15px auto;
}
#index .article-content em {
  font-size: 1.4rem;
  font-style: normal!important;
  padding: 0.2em 0.5em;
  color: #C7254E;
  font-family: Consolas, sans-serif !important;
}
#index .article-content code {
  background: #F0F0F0;
  color: #D6D3D3;
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
#index .article-content h1 {
  font-size: 2.6rem;
}
#index .article-content h1,
#index .article-content h2,
#index .article-content h3 {
  font-family: Verdana, Geneva, "Open Sans", SimHei, "Noto Sans", "Noto Sans CJK SC", "Microsoft Yahei", sans-serif;
  text-shadow: 1px 1px #CCC;
  color: #212121;
}
#index .article-content a {
  color: #42A5F5;
  text-decoration: none;
}
#index .article-content a:hover {
  text-decoration: underline;
}
